


<nav>
    <ul>
      <!-- <li><a routerLink="/show" routerLinkActive="active"> show </a></li> -->
      <li><a routerLink="/show2" routerLinkActive="active"> Server Side more than one table  </a></li>
      <li><a routerLink="/show3" routerLinkActive="active"> passing data </a></li>
      <li><a routerLink="/show4" routerLinkActive="active"> Simple  </a></li>
      <li><a routerLink="/show5" routerLinkActive="active"> Ajax one Time  </a></li>
      <li><a routerLink="/show6" routerLinkActive="active"> issue  </a></li>
    </ul>
  </nav>

<div class="container-fluid">
    <router-outlet></router-outlet>
</div>