
<div id="loader" *ngIf="x"></div>

  <div class="row mt-4">
    <div class="col-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="data.row" (change)="change('row',data.row)">
          <option [value]="2">2</option>
          <option [value]="4">4</option>
          <option [value]="8">8</option>
          <option [value]="10">10</option>
          <option [value]="20">20</option>
          <option [value]="30">30</option>
        </select>
      </div>
    </div>
    <div class="col-4">
      <div class="form-group">
        <select class="form-control" [(ngModel)]="data.page" (change)="change('page',data.page)">
          <option  *ngFor="let d of  pagi(tableData.length/data.row)" [value]="d"> {{d}}</option>
        </select>
      </div>

      <!-- <ul>
        <li *ngFor="let d of  pagi(tableData.length/data.row)" (click)="change('page',d)">  {{d}}</li>
      </ul> -->
    </div>
    <div class="col-4 text-right">
        <table class="w-100">
            <tr>
                <td>
                    <div class="form-group">
                        
                        <input type="text"
                          class="form-control" [(ngModel)]="data.search" placeholder="Search" (keyup)="change('search',data.search)">
                      </div>
                </td>
                <td>
                    <button type="button"  class="btn btn-primary" (click)="change('btn',0)">
        change
      </button>
                </td>
            </tr>
        </table>
        
      
    </div>
  </div>
  
  
  
  <table class="table w-100">
    <thead class="thead-inverse">
      <tr>
        <th>product</th>
        <th>firstName</th>
        <th>lastName</th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let d of show((obi$ | async))">
          <td scope="row"> {{d.product }}</td>
          <td> {{d.user.firstName}}</td>
          <td> {{d.user.lastName}}</td>
        </tr>
      </tbody>
  </table>  