<!-- {{  (sub.obo | async ) | json }} -->

 
  <div *ngIf="(sub.obo | async ) as d">
    <div class="row">
      <div class="col-4">
        <div class="form-group">
          <label for=""></label>
          <select class="form-control" [(ngModel)]="d.row" (change)="change(d,'row')">
            <option [value]="10">10</option>
            <option [value]="20">20</option>
            <option [value]="30">30</option>
          </select>
        </div>
      </div>
      <div class="col-4"></div>
      <div class="col-4"></div>
      <div class="col-4"></div>
    </div>
      <table class="table">
        <thead>
          <tr>
            <th>product</th>
            <th>city</th>
            <th> #</th>
            <th>firstName</th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let x of d.data">
            <ng-template [ngIf]="x.flag">
              <td scope="row"> {{x.product}}</td>
              <td> <input type="checkbox" [(ngModel)]="x.flag" (change)="change(d)" /></td>
              <td>{{x.city}}</td>
              <td>{{x.user.firstName}}</td>
            </ng-template>          
          </tr>
          <tr *ngFor="let x of d.data" class="bg-primary">
            <ng-template [ngIf]="x.flag == false">
              <td scope="row"> {{x.product}}</td>
              <td> <input type="checkbox" [(ngModel)]="x.flag" (change)="change(d)" /></td>
              <td>{{x.city}}</td>
              <td>{{x.user.firstName}}</td>
            </ng-template>          
          </tr>
        </tbody>
      </table>
  </div> 
  
  
  