<h1>
    Date3 = {{  (data3.obo | async)  | json   }}
</h1>

<ul class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" [ngClass]="flag=='user' ? 'active' : ''" (click)="sh('user')">user </a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="flag=='custome' ? 'active' : ''" (click)="sh('custome')">custome</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" [ngClass]="flag=='tenant' ? 'active' : ''" (click)="sh('tenant')">tenant</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
  </li>
</ul>
<div >


</div>
<table id="first-table" datatable [dtOptions]="dtOptions[0]" class="row-border hover">
    <thead class="thead-inverse">
        <tr>
          <th>product</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of persons1">
            <td scope="row"> {{d.product }}</td>
            <td> {{d.user.firstName}}</td>
            <td> {{d.user.lastName}}</td>
          </tr>
        </tbody>
</table>
<table id="second-table" datatable [dtOptions]="dtOptions[1]" class="row-border hover">
    <thead class="thead-inverse">
        <tr>
          <th>product</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of persons2">
            <td scope="row"> {{d.product }}</td>
            <td> {{d.user.firstName}}</td>
            <td> {{d.user.lastName}}</td>
          </tr>
        </tbody>
</table>
<table id="second-table3" datatable [dtOptions]="dtOptions[2]" class="row-border hover">
    <thead class="thead-inverse">
        <tr>
          <th>product</th>
          <th>firstName</th>
          <th>lastName</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of (dt3.obo | async).data">
            <td scope="row"> {{d.product }}</td>
            <td> {{d.user.firstName}}</td>
            <td> {{d.user.lastName}}</td>
          </tr>
        </tbody>
</table>
<pre>
    {{ (dt3.obo | async) | json }}
</pre>

